<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .done {
            color: #999;
            text-decoration: line-through;
        }
    </style>
</head>
<script src="https://unpkg.com/vue@next"></script>
<body>
    <div id="app">
        <h2>{{ title }}</h2>
        <input type="text" v-model="title" @keyup.enter="addTodo">
        <ul>
            <li v-for="todo in todos">
                <input type="checkbox" v-model="todo.done" />
                <span :class="{ done: todo.done }">{{ todo.title }}</span>
            </li>
        </ul>
        <div>全选<input type="checkbox" v-model="allDone" />
            <span>{{ active }} / {{ all }}</span>
        </div>
        <button v-if="active" @click="clear">清理</button>
    </div>
</body>
<script>
    const App = {
        data() {
            return {
                title: 'aaa',
                todos: [ { title: '吃饭', done: false }, { title: '睡觉', done: false }]
            }
        },
        computed: {
            active() {
                return this.todos.filter(i => i.done).length;
            },
            all() {
                return this.todos.length;
            },
            allDone: {
                set: function(v) {
                    this.todos.forEach(i => {
                        i.done = v;
                    })
                },
                get: function() {
                    return this.active === this.all;   
                }
            }
        },
        methods: {
            addTodo() {
                this.todos.push({ title: this.title, done: false });
            },
            clear() {
                this.todos = this.todos.filter(i => !i.done);
            }
        }
    }
    const instance = Vue.createApp(App).mount('#app');
</script>
</html>